/* google font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* tailwindcss */
@import "tailwindcss";
/* daisyui */
@plugin "daisyui";
/* text font */
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* heading font */
.heading-font{
  font-family: "Playfair Display", serif;
}
