/* google font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* tailwindcss */
@import "tailwindcss";
/* daisyui */
@plugin "daisyui";
/* text font */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fcfbf9;
}
/* heading font */
.heading-font {
  font-family: "Playfair Display", serif;
}
/*  */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f98c10;
  --color-background: 40 33% 98%;
  --color-foreground: 40 20% 95%;
  --color-secondary: ;
  --color-muted: 40 20% 94%;
}
